/* Global Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}
header {
  display: flex;
  justify-content: center; /* Horizontally center the contents */
  align-items: center; /* Vertically center the contents */
  flex-direction: column; /* Stack child elements vertically */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #333;
  text-align: center;
}

.main-logo {
  width: 300px;
  display: flex;
  margin-top: 20px;
}

/* Logo Styles */
.logo-section {
  text-align: center;
}

.logo-variation {
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  align-items: center; /* Horizontally center the contents */
  text-align: center; /* Center the text of h2 and p */
  margin-bottom: 40px; /* Spacing between each logo variation. Adjust as needed. */
  border-bottom: 1px solid #ccc; /* Add a thin grey line at the bottom */
  padding-bottom: 20px;
}

.logo-variation:last-child {
  border-bottom: none; /* Remove the border from the last .logo-variation element */
}
.logo-variation img {
  max-width: 100%;
  height: auto;
  margin: 0 auto; /* Centers the image */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

/* Full-color logo */
.logo-variation img[src*="logo1"] {
  width: 200px; /* Or any size you deem appropriate */
  margin-bottom: 20px; /* Spacing after the logo before the next element */
}

/* Horizontal version */
.logo-variation img[src*="logo2"] {
  width: 300px;
  margin-bottom: 20px;
}

/* Black and white logo */
.logo-variation img[src*="logo3"] {
  width: 200px;
  margin-bottom: 20px;
}

/* Greyscale logo */
.logo-variation img[src*="logo4"] {
  width: 200px;
  margin-bottom: 20px;
}
